<div class="auth-container">
    <div class="auth-card">
      
      <div class="toggle-container">
        <button 
          [class.active]="isLoginMode" 
          (click)="toggleMode(true)">Login</button>
        <button 
          [class.active]="!isLoginMode" 
          (click)="toggleMode(false)">Sign Up</button>
      </div>
  
      @if (isLoginMode) {
        <div class="form-section fade-in">
          <h2>Welcome Back</h2>
          
          <form>
            <div class="input-group">
              <i class="fa-solid fa-envelope icon"></i>
              <input name="emailId" [(ngModel)]="loginObj.emailId" type="email" placeholder="Email" required>
            </div>
  
            <div class="input-group">
              <i class="fa-solid fa-lock icon"></i>
              <input name="password" [(ngModel)]="loginObj.password" [type]="passwordVisible ? 'text' : 'password'" placeholder="Password" required>
              <i class="fa-solid" 
                 [class.fa-eye]="!passwordVisible" 
                 [class.fa-eye-slash]="passwordVisible"
                 (click)="togglePassword()" 
                 class="toggle-eye"></i>
            </div>
  
            <div class="options-row">
              <label class="remember-me">
                <input type="checkbox"> Remember me
              </label>
              <a href="#" class="forgot-link">Forgot Password?</a>
            </div>
  
            <button type="button" (click)="onLogin()" class="submit-btn">Login</button>
  
            <p class="social-text">Or login with</p>
          </form>
        </div>
      } 
  
      @else {
        <div class="form-section fade-in">
          <h2>Create Account</h2>
          
          <form #form="ngForm">
            <div class="input-group">
              <i class="fa-solid fa-user icon"></i>
              <input name="fullName" #name="ngModel" [(ngModel)]="registerObj.fullName" type="text" placeholder="Full Name" required>
              @if (name.errors?.['required']) {
                <span class="text-danger">This is required</span>
              }
            </div>
  
            <div class="input-group">
              <i class="fa-solid fa-envelope icon"></i>
              <input name="emailId" #email="ngModel" [(ngModel)]="registerObj.emailId" type="email" placeholder="Email" required>
              @if (email.errors?.['required']) {
                <span class="text-danger">This is required</span>
              }
            </div>
  
            <div class="input-group">
              <i class="fa-solid fa-lock icon"></i>
              <input name="password" #pwd="ngModel" [(ngModel)]="registerObj.password" [type]="passwordVisible ? 'text' : 'password'" placeholder="Password" required>
              <i class="fa-solid" 
                 [class.fa-eye]="!passwordVisible" 
                 [class.fa-eye-slash]="passwordVisible"
                 (click)="togglePassword()" 
                 class="toggle-eye"></i>
                 @if (pwd.errors?.['required']) {
                  <span class="text-danger">This is required</span>
                }
            </div>
  
            <button type="button" (click)="onRegister()" [disabled]="form.invalid" class="submit-btn">Sign Up</button>
          </form>
        </div>
      }
  
    </div>
  </div>